.from{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}
.from input, button{
   padding: 8px;
}

.button{
    width: 20%;
    margin: 0 auto;
    cursor: pointer;
}